<div class='col-md-8 col-lg-8 mx-auto'>
	<div class='card text-light bg-danger' style='height: 10em; display: flex; justify-content: center; align-items: center;'>
		<h4>Error 404</h4>
    <p>Esta pagina no existe</p>
		<button type="button" class="btn btn-warning" onclick="location.href='/'">Ir al inicio</button>
	</div>
</div>